NODE_ENV=development
REDIS_HOST=host
REDIS_AVATAR=redis://:password@host:6379/0
REDIS_STATUS=redis://:password@host:6379/2
REDIS_IPC=redis://:password@host:6379/4
MONGO=mongodb://username:password@host:27017/database
MONGO_SERVERS=mongodb://username:password@host:27017/database